.JoinPage{
    background-color: rgb(31,29,29) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.JoinContainer > img{
    width: 10vmax;
}
.JoinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 1vmax;
}
#joininput{
    width: 20vmax;
    padding: 1.2vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 20vmax;
    padding: 1.2vmax;
    border: none;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    outline: none;
    font-size: 1.5vmax;
    box-sizing: border-box;
    transition: all 0.3s;
    background-color: rgb(63, 121, 172);
    cursor: pointer;
}
.joinbtn:hover{
    background-color: aqua;
    color: black
}